<div class="toggle-placename">
  <label><input type="checkbox" ng-model="home.showPlacename"> 지명/도로 보이기</label>
</div>

<div class="go-parks">
  <ul>
    <li><button type="button" ng-click="home.goLonLat(126.990033, 37.658466, 750)">북한산 국립공원</button></li>
    <li><button type="button" ng-click="home.goLonLat(127.852646, 36.569633, 1000)">속리산 국립공원</button></li>
    <li><button type="button" ng-click="home.goLonLat(128.462222, 36.945909, 1000)">소백산 국립공원</button></li>
    <li><button type="button" ng-click="home.goLonLat(128.441505, 38.162492, 1500)">설악산 국립공원</button></li>
    <li><button type="button" ng-click="home.goLonLat(127.613812, 35.306813, 1500)">지리산 국립공원</button></li>
  </ul>
</div>

<div id="cesiumContainer"></div>